#!/usr/bin/env xdg-open
[Desktop Entry]
GenericName=WtDesigner
Name=WtDesigner
Version=1.0.1
Exec=bash {UNKNOWN_PATH}/WtDesigner.sh
Icon={UNKNOWN_PATH}/WtDesigner_logo_linux.xpm
Comment=Wt C++ Web Application Tool
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=GNOME;Application;Development;