body{
	margin      : 100 ;
	padding     : 100 ;
	font-family : "helvetica", arial;
}

#wt_root
{
	position : fixed;
	left     : 0    ;
	top      : 0    ;
	height   : 100% ;
	width    : 100% ;
	background-color: white;
}

